body,ul,li{
	padding: 0;
	margin: 0;
	
}
.container{
	max-width:1040px;
	/*margin: 0 !important;*/
	/*padding: 0 !important;*/
}
ul, li {
  list-style: none; }
body{
	background-color: #cce7fc !important;
	text-align:center;
	background-image: url(../images/indexImg/bodyBac.png); 
}
#top{
	width: 100%;
	height: 40px;
    background-color:#F0F0F0;
    
}

.tips{

	text-align:right;
	
}
.tips input{
	border: solid 1px #f0f0f0;
	border-radius: 4px;
	font-size: 14px ;
	width: 160px;
	height: 24px;
	padding-left: 4px;
    margin-top:10px;
}
.tips  .img-search{
	position: relative;
	
	right: 30px;
	margin: 0;
	padding: 0;
}




.tips a{
	margin-right: 20px;
	color: #000;
	text-decoration: none;
}
.tips a .img-user{
	margin-right: 4px;
}
.titleBar{
	width: 100%;
	overflow: hidden;
	/*height: 142px;*/
	background: url(../images/indexImg/head.png) no-repeat;
	background-size:cover;
	/*background-size: contain;*/
	position: relative;
	
	
	
}
.nav-wrap{
	background:url(../images/topBac.png) repeat-x;
	
}

header .nav-wrap .ul1{
	
	margin:0 auto !important;
	width: 100%;
	height: 57px;
	display: flex;
	/*background: red;*/
	
}
header .nav-wrap .li1{
	 white-space: nowrap !important;
	margin:0 auto;
	text-align: center;
	font-size: 1.2em;
	flex: 1;
	/*background: red;*/
	/*margin:0 1px;*/
}
header .nav-wrap .li1:hover a{
	background: #fff;
	color: #048cfb;
}
header .nav-wrap .li1 a{
	line-height: 30px;
	height: 56px;
	position: relative;
}
 /*header .nav-wrap .li1 a:hover{
	color: #048cfb !important;
}*/

header .nav-wrap .li1 .active{
	color: #048cfb;
	border-bottom: solid 2px #048cfb ;
}
/*导航下拉小图标*/
header .nav-wrap .li1 a span{
	position: absolute;
	top: 28px;
	right: 8px;
	display: inline-block; 
	/*margin-top: 10px;*/
	text-align: center;
	border: 5px solid transparent; 
	border-top-color: #9c9b9b;
	transform-origin: top;
	 }
header .nav-wrap .li1 ul{
	display: none;
	height: auto; 
	position:absolute;
	text-align: center;
	/*background: green;*/
	width: 100%;
    z-index:20;
}
header .nav-wrap .li1 ul .li2{
height: 40px;

}
header .nav-wrap .li1 ul .li2 a{
	font-size:14px!important;
	text-decoration: none;
	color: #000;
	background:#f2f2f2;
	display: block;
	line-height: 40px;
	height: 40px;
}
header .nav-wrap .li1 ul .li2 a:hover{
	color: #000 !important;
	background:#fff ;
}


/*中间部分*/
 .mainContent{
 	/*background: yellowgreen;*/
 	width: 97%;
 	margin-left: 16px;
 	min-height: 680px;
 	min-width: 576px;
 	}
 	#left{
 		/*background: green;*/
 		width:76%;
 	}
 	.box{
 		/*background: red;*/
 		/*width: 100%;
 		height:40% ;*/
 		width: 350px;
 		height:330px;
 		margin-right: 20px;
 		margin-bottom: 20px;
 	}
#leftTop #activityShow,#leftDown #facultyNews{
	/*width: 300px;
	height: 300px;*/
	float:left;
	min-height: 330px;
	/*margin-right: ;*/
}

.namePic{
	margin-left: -12px;
	text-align: right;

}
.box .leftPic,.box .rightPic{
	width: 100%;
	/*background: red;*/
	height: 30px;
}


/*轮播图*/

.slider, .slider-img img, .slider-extra { 
	
	width: 350px; 
	height: 300px; 
 } 


.slider { 
	text-align: center; 
	margin:0px auto; 
	position: relative; 
	margin-left:-16px ;
	margin-top: 4px;
 } 
.slider-img, .slider-nav { 
	position: absolute; 
	z-index: 8; 
 } 
.slider-panel { 
	position: absolute; 
 } 
.slider-panel img { 
	border: none; 
 } 
.slider-extra { 
	position: relative; 
	/*width: 100%;*/
 } 
.slider-info { 
 	width: 100%;
 	height:40px;
 	background: black;
 	opacity: 0.6;
 	filter: alpha(opacity=60);
	z-index: 10;
 	position: absolute; 
 	bottom: 0px; 
 }
.slider-info span{
 	z-index: 11;
  	color: #fff;
  	font-size:1em;
  	line-height: 30px;
  	white-space:nowrap;
  	width: 100%;
  	display: block;
  	overflow: hidden;
  	/*font-family:"方正兰亭黑";*/
	/*letter-spacing:4px;*/
  	/*padding-top: 8px;*/
} 
.slider-nav{
 	position: absolute; 
    bottom: 0px;
 	left: 50%;
 	margin-left: -20px;
}
.slider-nav li { 
	background: #baab99; 
	border-radius: 50%; 
	color: #fff; 
	cursor: pointer; 
	margin: 0 2px; 
	overflow: hidden; 
	text-align: center; 
	display: inline-block; 
	height: 5px; 
	line-height: 18px; 
	width: 5px; 
} 
.slider-nav .active{ 
	background: #333; 
} 

/*具体新闻*/
.box .perLink{
	height:30px ;
	padding: 0 14px;
	line-height: 30px;
	/*border-bottom: dotted 1px green;*/
	border-bottom: dashed 1px #ccc;
}
.box .wrap{
	background: #fff;
	width: 110%;
	height: 296px;
	margin-top: 4px;
	border-radius: 4px;
	margin-left: -15px;
	padding: 0 15px;
}
.box .wrap ul{
	padding: 0 !important;
	margin: 0 !important;
}
.box .wrap div{
	margin-top: 10px;
}
.box .perLink span{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #ff6c00;
	border-radius:50% ;
	
	margin:10px 4px 0 -14px;
}
.box .perLink span,.box .perLink a{
	float: left;
	text-align: left;
}
.box .perLink a{
	white-space: nowrap !important;
	overflow: hidden;
	/*background: red;*/
	text-decoration: none;
	color:#000;
	font-size: 1em;
	width: 70%;
	
}
.box .perLink a:hover{
	color: #016cce;
	text-decoration: underline;
}


.box .perLink time{
	
	color: #949393;
	/*text-align: right;*/
	float: right;
}




.mainContent #leftTop, .mainContent #activityShow{
	/*background: goldenrod;*/
	min-height: 330px;
}





.mainContent,#leftTop,#facultyNews{
	/*background:yellowgreen;*/
	min-height: 330px;
}
.mainContent,#leftDown,#board{
	/*background:cyan;*/
	min-height: 330px;
}
.mainContent,#leftDown,#activityNews{
	/*background:coral;*/
	min-height: 330px;
	
}
.mainContent #right{
	/*background: blue;*/
	width: 24%;
	/*float: right;*/
	/*height: 680px ;*/
	min-height: 1030px;
	position: relative;
}

.mainContent #right .greenBac{
	
	position: absolute;
	/*bottom:0px;*/
	height: auto;
	/*background: url(../images/indexImg/green.png) no-repeat;*/
	/*background-size: cover;*/
	/*background: #17b599;*/
	
}

.mainContent #right .greenBac .contenWrap{
	background: #17b599;;
	position: relative;
	/*top: 90px;*/
	height: 418px;
	width: 95%;
	border-radius: 0 0 4px 4px;
}
.mainContent #right .greenBac .contenWrap .splice{
	/*background: red;*/
	/*分割线*/
	height: auto;
	border-bottom:  2px solid #02a4a3;
}
 #right .greenBac .contenWrap a{
 	/*display: block;*/
 	height: 60px;
 	text-decoration: none;
 	line-height:60px;
 	 font-size:1.3em ;
 	 color: #fff;
 	 /*text-align: left;*/
 	 white-space: nowrap;
 	 overflow: hidden;
 }
  #right .greenBac .contenWrap a:hover{
  	font-weight: bold;
  	 
  }
 #right .greenBac .contenWrap .icon-2x {
 	/*margin-top: 10px;*/
 	position: relative;
 	top: 8px;
 	right: 10px;
 	/*background: red;*/
 	/*color:red !important;*/
 	font-size: 34px;
  
}
 #right .greenBac .contenWrap .net{
	text-indent: 16px;
}
 #right .greenBac .contenWrap #btnyqlj{
 	margin-left: 10px;
 	width: 88%;
 	height: 30px;
 	background: #FFF;
 	border: 1px solid #fff;
 	text-align: center;
 	line-height: 30px;
 	border-radius: 4px;
 	cursor: pointer;
 	position: relative;
 	white-space: nowrap;
 	z-index: 88;
 	
 }
  #right .greenBac .contenWrap #ulyqlj {
  	position: absolute;
  	top:0px;
  	height: auto;
  	background: #c2e3fd;
  	margin-left: 10px;
  	padding-top: 0px;
  	border-radius: 4px 4px 0 0;
  	width: 88%;
  }
   #right .greenBac .contenWrap #ulyqlj li:first{
   	display: none;
   }
 #right .greenBac .contenWrap #ulyqlj li{
 	overflow: hidden;
 	white-space: nowrap;
 	height: 20px;
 	/*background: greenyellow;*/
 	line-height: 20px;
 	border-bottom: 1px dotted #ccc;
 
 	
 	
 }
  #right .greenBac .contenWrap #ulyqlj li a{
  	/*height: 20px;*/
  	line-height: 20px !important;
  		font-size: 1em;
  	color: #000;
  }
   #right .greenBac .contenWrap #ulyqlj li a:hover{
   	text-decoration: underline;
   	font-weight: normal;
   }



/*教授风采*/
#teacherList {
	position: relative;
	/*background: green;*/
	top: -20px;
	
	
}
#teacherList .proPic{
	position: relative;
	top: 20px;
	margin: 0 auto;
}

.teacher-show {
   background: #FCFAFA;
   /*margin-top: 25px !important;*/
   padding: 0 60px; 
   width:97% !important;
   margin: 0 auto;
   margin-bottom:20px ;
}
 
.teacher-show .moving {
   overflow: hidden;
   height: 200px;
   margin-top: 30px;
    margin-bottom: 10px;
   position: relative; 
}
.teacher-show .moving ul {
   width: 3040px;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   /*background: green;*/
   -webkit-animation: 30s liying infinite linear; 
  }
.teacher-show .moving ul:hover {
   -webkit-animation-play-state: paused; 
}
.teacher-show .moving ul li {
   height: 100%;
   width: auto;
   margin-right:22px !important;
 }
 .teacher-show .moving ul li a{
 	text-decoration: none;
 	color: #000;
 	line-height: 30px;
 }
  .teacher-show .moving ul li a:hover{
  	color:#016cce ;
  }
 .col-sm-1{
 	padding: 0 !important;
 	margin: 0 !important;  
 }
.teacher-show .moving ul li img {
   /*margin: 0 auto;*/ 
   width: 130px;
   height: 176px;
}

 @-webkit-keyframes liying {
  0% {
    left: 0;
     }
  100% {
    left: -1660px; 
    } 
 }
 @keyframes liying {
  0% {
    left: 0;
     }
  100% {
    left: -1660px; 
    } 
 }
@-moz-keyframes liying {
  0% {
    left: 0;
     }
  100% {
    left: -1660px; 
    } 
 }
 @-o-keyframes liying {
  0% {
    left: 0;
     }
  100% {
    left: -1660px; 
    } 
 }


/*底部*/
footer{
	padding:30px 0px;
	height: 236px;
	width: 100%;
	background: #016cce;
	color: #fff;
	
}
footer .foot1{
	max-width:650px;
	margin:0 auto;
	position: relative;
}
footer .foot1 p{
	text-align: left;
	line-height: 26px ;
}
footer .foot1 img{
	position: absolute;
	top: 0;
	right: 0;
}
footer .foot2{
	margin-top: 20px;
	line-height: 26px ;
}









@media (max-width:1200px){
	.slider,  .slider-extra { 
	
	width: 100% !important; 
	height: 300px; 
 } 
 .slider-img img{
 	/*width: ;*/
 	max-width:662px !important; 
	height: 300px; 
	/*width:700px !important;*/ 
 }
 /*.slider-info { 
 	width: 90%;
 	}*/
 .box{
 		width: 100% !important;
 		height:40% ;
 	}

.box .wrap{

	width: 100%;
	
}

 #right .greenBac .contenWrap a{
 	
 	 font-size:1em ;

 	 white-space: nowrap;
 	 overflow: hidden;
 }

 #right .greenBac .contenWrap .icon-2x {
 	/*margin-top: 10px;*/
 	position: relative;
 	top: 8px;
 	right: 10px;
 	/*background: red;*/
 	/*color:red !important;*/
 	font-size: 20px;
  
}
.mainContent #right{
	height: 2084px;
}

.box .leftPic,.box .rightPic{
	position: relative;
}
.box .leftPic .namePic{
	position: absolute;
	left: 0;
}
.box .rightPic .namePic{
	position: absolute;
	right: 20px;
}

.titleBar .imgTitle{
	width: 50%;
}
} 



@media (max-width:992px) {
	.container{
		width: auto !important;
	}
	header .nav-wrap ul{
		display: block;
		/*background:red;*/
	}
	header .nav-wrap li {
	font-size: 0.9em !important;
	}
	
	.mainContent{
 	  width: 94%;
 	  margin-left: 16px;
 	}
 	.slider-img img{
 		/*max-width: 644px !important;*/
 		
    	max-width:100% !important; 
 	    height: 300px;
    }
 	

}

@media (max-width: 768px){
	.container{
		width: auto !important;
	}
	.teacher-show{
	width:94% !important;
}
.teacher-show .moving ul li {
    float: left;
 }
 .box{
 		min-width: 350px;
 }
 
  #right .greenBac .contenWrap a{
 	
 	 font-size:0.8em ;

 	 white-space: nowrap;
 	 overflow: hidden;
 }
  #right .greenBac .contenWrap .net{
	text-indent: 10px;
}

.col-xs-5{
	padding: 0 !important;
	margin:0 !important;
}


}

