.power_intro {
	margin-top: 20px;
	font-family: SimSun;
	font-size: 24px;
	text-indent: 2em;
}
.power_intro p {
	text-align: left;
}
.row h2 {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-size: 25px;
	margin: 0;
	font-family: SimSun;
	text-align: left;
}
table {
	/*border: 0px solid transparent !important;*/
	/*margin-bottom: 0;*/
	width: 715px;
}
table td {
	font-size: 22px;
	font-family: SimSun;
}
/*.table *{
    border: 0px solid transparent !important;
}
.table {
	margin-bottom: 0;
}*/
.col-md-12 .big_titile{
	height: 55px;
	vertical-align: middle;
	/*border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;*/
	box-shadow: 5px 0px 5px 0px #C0C0C0 inset;
	background: linear-gradient(to right,rgba(244,250,255,0.5),rgba(233,244,253,0.5));
	background: -webkit-linear-gradient(right,rgba(244,250,255,0.5),rgba(233,244,253,0.5));/* FF3.6-15 */
	background: -moz-linear-gradient(right,rgba(244,250,255,0.5),rgba(233,244,253,0.5));/* Chrome10-25,Safari5.1-6 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(244,250,255,0.5)', endColorstr='rgba(233,244,253,0.5)',GradientType=1 ); /* IE6-IE9*/
	filter: Alpha(Opacity=50);
}
.col-md-12 {
	margin:20px;
	padding: 0;
	/*border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 5px solid #F0F0F0;*/
	/*-moz-border-left-colors: #D0D0D0 #D8D8D8 #E0E0E0 #E8E8E8 #F0F0F0; */
	/*background-clip:padding-box,border-box;/*规定背景的绘制区域*/
   /* background-origin:border-box;/*背景图像相对于内边距框、边框盒来定位。*/
    /*background-image:linear-gradient(#fff,#fff),linear-gradient(#5c5fa5,#893f60);*/
    /*background-image: linear-gradient(#333,#333),linear-gradient(#fff, #fff);*/
    /*background-image: linear-gradient(#333, #fff);*/
}
.col-md-12 .small_titile {
	padding-left: 15px;
	/*padding-bottom: 20px;*/
	/*border-top: 2px solid #E8E8E8;*/
	box-shadow: 5px -1px 5px 0px #C0C0C0 inset;
	background: linear-gradient(to right,rgba(252,252,252,0.5),rgba(240,245,250,0.5));
	background: -webkit-linear-gradient(right,rgba(252,252,252,0.5),rgba(240,245,250,0.5));/* FF3.6-15 */
	background: -moz-linear-gradient(right,rgba(252,252,252,0.5),rgba(240,245,250,0.5));/* Chrome10-25,Safari5.1-6 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(252,252,252,0.5)', endColorstr='rgba(240,245,250,0.5)',GradientType=1 ); /* IE6-IE9*/
	filter: Alpha(Opacity=50);
}