<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jking.computersite.mapper.UnionMapper" >
  <resultMap id="BaseResultMap" type="com.jking.computersite.entity.Union" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zhicheng" property="zhicheng" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, zhicheng, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trade_union
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="Select" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    from trade_union
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trade_union
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jking.computersite.entity.Union" >
    insert into trade_union (id, zhicheng, name
      )
    values (#{id,jdbcType=INTEGER}, #{zhicheng,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jking.computersite.entity.Union" >
    insert into trade_union
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zhicheng != null" >
        zhicheng,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zhicheng != null" >
        #{zhicheng,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jking.computersite.entity.Union" >
    update trade_union
    <set >
      <if test="zhicheng != null" >
        zhicheng = #{zhicheng,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jking.computersite.entity.Union" >
    update trade_union
    set zhicheng = #{zhicheng,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>